<div class="form-control"
>
  <label for="file">Add file</label>
  <input  type="file"
          (change)="onFileSelected($event)"
          id="file">
  <button
    (click)="onUpload()"
  >Enter image</button>
</div>

<form
  [formGroup]="form"
  (ngSubmit)="submit()"
  class="admin-page">
  <h1>Add new project</h1>



  <div class="form-control"
       [ngClass]="{invalid: form.get('link').touched && form.get('link').invalid}">
    <label for="link">Project site</label>
      <input type="text"
             formControlName="link"
             id="link">
    <div class="validation"
         *ngIf="form.get('link').touched && form.get('link').invalid">
      <small *ngIf="form.get('link').errors.required">The link must be added!</small>
    </div>
  </div>

  <div class="form-control"
       [ngClass]="{invalid: form.get('name').touched && form.get('name').invalid}">
    <label for="name">Project name</label>
    <input type="text"
           formControlName="name"
           id="name">
    <div class="validation"
         *ngIf="form.get('name').touched && form.get('name').invalid">
      <small *ngIf="form.get('name').errors.required">The link must be added!</small>
    </div>
  </div>

  <div class="form-control"
       [ngClass]="{invalid: form.get('github').touched && form.get('github').invalid}">
    <label for="github">Github page</label>
    <input type="text"
           formControlName="github"
           id="github">
    <div class="validation"
         *ngIf="form.get('github').touched && form.get('github').invalid">
      <small *ngIf="form.get('github').errors.required">The link must be added!</small>
    </div>
  </div>

  <button type="submit"
  [disabled]="form.invalid"
  >Added project</button>
</form>
