@import "./src/styles/core";

.contact {
  // min-height: 100vh;
// background: linear-gradient(90deg, rgba(118, 176, 255, 1) 24%, rgba(230, 225, 225, 1) 99%);
background: linear-gradient(90deg, rgba(2, 0, 36, 1) 11%, rgba(0, 14, 255, 0.47102591036414565) 91%);

  .contact-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 16px;

    .contact-boxes {
      margin: 25px 15px;
      padding: 15px;
      border: 3px solid $text-primary;
      font-size: 32px;
      transition: 1s all;

      span {
        color: $text-secondary;
      }
    }

    .contact-boxes:hover {
      background-color: $text-secondary;
      transform: scale(0.9);

      span {
        color: black;
      }
    }
  }
}

// media

@media screen and(max-width: 500px) {
  .contact {
    .contact-inner {

      .contact-boxes {
        margin: 15px 5px;
        font-size: 24px;
        padding: 10px 12px;
      }
    }
  }
}
