<section class="work default-layout">
    <h1 class="h1">My <span>Work</span></h1>
  <h2 class="h2">Check out of my projects...</h2>
  <div class="projects">
    <div class="item">
      <div class="item-img"><a href="" target="_blank"><img src="../../assets/img/projects/organizer-img.png" alt=""></a></div>
      <div class="inner-button">
        <button>
          <img src="../../assets/img/social-icons/eye.png" alt="">
          Name project</button>
        <button>
          <img src="../../assets/img/social-icons/github.png" alt="">
          Github</button>
      </div>
    </div>
    <div class="item">
      <div class="item-img"><a href="" target="_blank"><img src="../../assets/img/projects/organizer-img.png" alt=""></a></div>
      <div class="inner-button">
        <button>
          <img src="../../assets/img/social-icons/eye.png" alt="">
          Name project</button>
        <button>
          <img src="../../assets/img/social-icons/github.png" alt="">
          Github</button>
      </div>
    </div>
    <div class="item">
      <div class="item-img"><a href="" target="_blank"><img src="../../assets/img/projects/organizer-img.png" alt=""></a></div>
      <div class="inner-button">
        <button>
          <img src="../../assets/img/social-icons/eye.png" alt="">
          Name project</button>
        <button>
          <img src="../../assets/img/social-icons/github.png" alt="">
          Github</button>
      </div>
    </div>

    <div class="item">
      <div class="item-img"><a href="" target="_blank"><img src="../../assets/img/projects/organizer-img.png" alt=""></a></div>
      <div class="inner-button">
        <button>
          <img src="../../assets/img/social-icons/eye.png" alt="">
          Name project</button>
        <button>
          <img src="../../assets/img/social-icons/github.png" alt="">
          Github</button>
      </div>
    </div>

    </div>

</section>


