@import "./src/styles/core";

header {
  background-color: $blue-background;
  position: fixed;
  z-index: 11;
  width: 100%;
  padding: 10px 0;

  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 45px;

    .brand {
      font-size: 24px;
      font-weight: bold;
      padding: 5px;
      border: 2px solid $text-secondary;
    }

    .nav-items {
      display: flex;

      .nav-item {
        margin: 15px;

        .nav-link {
          font-size: 22px;
          cursor: pointer;
        }
      }
    }
  }
}

//media

@media screen and (max-width: 768px) {

  // header and nav menu
  header {
    background: $popup-background;
    height: 100vh;
    position: fixed;


    &.close {
      top: -100%;
      transition: all 0.4s ease 0s;

    }

    &.open {
      top: 0;
      transition: all 0.4s ease 0s;
    }

    .navigation {
      flex-flow: column wrap;
      margin-top: 10%;

      .brand {
        display: none;
      }

      .nav-items {
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        margin: 40px auto;
      }
    }
  }


  // btn
  .menu-btn {
    position: fixed;
    z-index: 15;
    right: 35px;
    top: 35px;
    transition: all 0.5s ease-out;


    .btn-line {
      width: 28px;
      height: 3px;
      margin: 0 0 5px 0;
      background: $text-secondary

    }

    // Rotate Into X With Menu Lines
    &.open {
      transform: rotate(180deg);

      .btn-line {
        // Line 1 - Rotate
        &:nth-child(1) {
          transform: rotate(45deg) translate(5px, 5px);
        }

        // Line 2 - Hide
        &:nth-child(2) {
          opacity: 0;
        }

        // Line 3 - Rotate
        &:nth-child(3) {
          transform: rotate(-45deg) translate(7px, -6px);
        }
      }
    }
  }
}


@media screen and (max-width: 568px) {
  header {
    .navigation {
      margin-top: 0;

      .nav-items {
        margin: 70px auto;
      }
    }
  }
}



