.main-edit {
  position: relative;
  width: 600px;
  height: 300px;
  padding: 30px 10px;
  background: blue;
  margin: 0 auto;
  .form-control {
    width: 560px;

    label {
      margin-left: 7px;
    }
    input {
      color: black;
      font-size: 16px;
      padding: 3px;
      margin: 5px;
      width: 100%;
    }
  }
  button {
    position: absolute;
    background: green;
    padding: 4px 7px;
    font-size: 14px;
    bottom: 20px;
    right: 28px;
  }
}
