/* You can add global styles to this file, and also import other style files */
@import "./src/styles/core";


* {
 padding: 0;
 margin: 0;
 border: 0;
}
*, *:before, *:after {

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: $main-fonts;
  color: $text-primary;

}

html, body {
  cursor: default;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  input, button, textarea {font-family: inherit;}
  input::-ms-clear{display: none;}
  button::-moz-focus-inner{padding: 0; border:0}
  a, a:visited{text-decoration: none;}
  a:hover{text-decoration: none;}
  

  // scroll
  ::-webkit-scrollbar {
    width: 8px; /* ширина для вертикального скролла */
    background-color: $blue-background;
  }

  /* ползунок скроллбара */
  ::-webkit-scrollbar-thumb {
    background-color: $text-secondary;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px $text-primary;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: $blue-background;
  }

    .default-layout{
      padding: 200px 64px 64px 64px;
      background-color: $black-background;
      position: absolute;
      width: 100%;
      z-index: 9;
      min-height: 100vh;

      .h1 {
        font-size: 96px;
        margin-bottom: 16px;
        span {
          color: $text-secondary;
        }
      }
      .h2 {
        padding: 3px 16px;
        background-color: $blue-background;
      }
    }
  li {
    list-style: none;
  }
    a {
      text-decoration: none;
      cursor: pointer;
    }
  .active {
    background-color: $text-secondary;
    border: 2px solid white;
    padding: 0 3px;
    border-radius: 10px;
  }

  // admin-page
  .admin-page {
    width: 450px;
    margin: 0 auto;
    border: 1px solid white;
    padding: 15px;
    background-color: #0f476f;

    h2 {
      margin-bottom: 15px;
      border-bottom: 2px solid white;
    }

    .form-control {
      input {
        min-width: 100%;
        font-size: 16px;
        padding: 3px 5px;
        color: black;
        margin-bottom: 10px;
      }

      .validation {
        margin-bottom: 10px;

        small {
          color: red;
        }
      }
    }

    .invalid label {
      color: #ff001e;
    }

    .invalid input {
      border: 1px solid red;
      background-color: #f6ff8b;
    }

    button {
      width: 100%;
      color: black;
      padding: 3px;
      font-size: 16px;
      cursor: pointer;
    }

    .alert {
      background-color: #ff001e;
      width: 100%;
      padding: 3px 5px;
    }
    info {
      background-color: floralwhite;
      width: 100%;
      padding: 3px 5px;
      color: black;
    }
  }
}





@media screen and (max-width: 768px) {
 html, body {
   .default-layout{
     padding: 15% 0 0 0;
     text-align: center;
     .h1 {
       font-size: 82px;
     }
   }
 }
}

@media screen and (max-width: 500px) {
  html, body {
    .default-layout {
      .h1 {
        font-size: 48px;
      }
      .h2 {
        font-size: 24px;
        margin: 0;
      }
    }
  }
}




