@import "./src/styles/core";

.bg-opacity {
  background-image: url("../../assets/img/main-page-portfolio.jpg");
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 8;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home {
  height: 100vh;

  .heading {
    font-size: 96px;

    span {
      color: $text-secondary;
    }
  }

  .heading-description {
    font-size: 24px;
    line-height: 32px;
    margin: 20px 0;
    padding: 3px 10px;
    background: $blue-background;
    max-width: 690px;
  }

  .icons {
    .icon {
      padding: 10px;
      transition: 1s all;
    }
  }

  .icons .icon img:hover {
    background-color: $text-secondary;
    transform: scale(1.1)
  }
}

// @media

@media screen and (max-width: 896px) {
  .home {
    padding: 25vh 0 0 0;
    align-items: center;
    text-align: center;

    .heading {
      font-size: 54px;
    }

    .heading-description {
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 500px) {
  .home {

    .heading {
      font-size: 40px;
    }

  }
}
