@import "./src/styles/core";

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #0f476f;
  padding: 15px;

  div ul {
    display: flex;

    li {
      margin-right: 30px;
    }
  }
}

.admin-inner {
  min-height: 100%;
  background-color: #eccdff;
}


